// color_variable
// whiteは省略

// 汎用
$SkyBlue: #38aef0;

//FlashParts

// SideHeaderParts 
$SideHeaderColor: #253141; 
$SideGroupColor: #2f3e51;

//MainHeaderParts
$MainHeaderBorderColor: #eee;
$MainHeaderCurrentGroupColor: #333;
$MainHeaderMemberListColor: #999999;

//MessagesParts
$MessageColor: #fafafa;

//formParts
$FormColor: #ddd;
$InputBoxTextColor: #434a54;

