.groups{
  height: calc(100vh - 100px);
  padding: 20px 20px 0; 
  background-color: $SideGroupColor;
  overflow: scroll;
    .group{
    margin-bottom: 40px;
    color: white;
    text-decoration: none;
      &__group-name1{
        font-size: 15px;
        padding-bottom: 5px;
      }
      &__latest-message1{
        font-size: 11px;
      }
      &__group-name2{
        font-size: 15px;
        padding-bottom: 5px;
      }
      &__latest-message2{
        font-size: 11px;
      }
    }
  }