.groups{
  height: calc(100vh - 100px);
  padding: 20px 20px 0; 
  background-color: $SideGroupColor;
  overflow: scroll;
  text-align: left;
    .group{
    color: white;
    text-decoration: none;
      .group__name{
        font-size: 15px;
        padding-bottom: 5px;
        color: white;
        text-decoration: none;
      }
      .group__message{
        font-size: 11px;
        color: white;
        text-decoration: none;
        margin-bottom: 40px;
      }
    }
  }